@import "tailwindcss";

:root {
  --background: #f4f4f5;
  --foreground: #18181b;

  /* --text-primary: #18181b;
  --text-secondary: #71717a; */

  --card: #f4f4f4;
  --border: #00000066;

  --text-primary: #333333;
  --text-secondary: #757575;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-border: var(--border);
  --color-card: var(--card);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0f17;
    --foreground: #e5e7eb;

    --text-primary: #e5e7eb;
    --text-secondary: #9ca3af;

    --border: #1f2937;
    --card: #121826;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
